.header_hero {
	height: 100px;
	background-color:rgb(96,23,0);
}

.hero_text {
	text-align: center;
	font-size:44pt;
	color: rgb(255,255,147);
}

nav {
	background-color: rgb(221,221,221);
}


#home {
	color: black;
}

body {
	background: url(../img/background_books.jpg);
	background-size: 100%;
}

h1 {
	color: black;
	text-align: center;
}


.data_lists {
	color: black;
	text-align: center;
}

#footer_div1 {
	background-color: rgb(221,221,221);
	height:50px;
}

#footer_div2 {
	background-color:rgb(96,23,0);
	height:70px;
}

.footer_logo {
	color: rgb(255,255,147);
	font-size:12pt;
	text-align: center;
	padding-top:20px;
}

#space {
	height: 260px;
}

@media screen and (max-width: 800px) {
	.header_hero {
		width: 100%;
		display:inline;}
		
}